* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}


/* Header */
header {

	height: 90px;
	width: 100vw;
	background-color: #191919e0;
	display: flex;
	align-items: center;
}




.container-header {
	width: 100%;
	height: 100%;
	max-width: 1320px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 200px;
	height: 50px;
	background-color: #ff0056;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.logo a {
	display: block;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	letter-spacing: 2px;
}

.logo a span {
	color: #07090fd0;
}


/* menu*/

.menu {
	width: auto;
	height: auto;
	display: inline-flex;
	border-radius: 5px;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}

.menu nav ul {
	margin-top: 10px;
	margin-right: 20px;
	width: 100%;
	height: inherit;
	display: flex;
}

.menu nav ul li {
	list-style: none;
	margin-left: 15px;
}

.menu nav ul li a {
	display: block;
	text-decoration: none;
	font-size: 18px;
	color: #FFF;
	transition: all ease 0.3s;
	border: 1px solid #ccc;
	padding: 8px 20px;
	border-radius: 4px;
}


.menu nav ul li .active {
	background-color: #ff0056;
	transition: all ease 0.2s;
}

.menu nav ul li .active:hover {
	opacity: .8;
}




/* Animais */

.clone {
	display: none;
}

.animais-card {
	width: 260px;
	height: auto;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 10px #aa00ff;
}

.animal-img {
	width: 170px;
	height: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animal-desc .h5 {
	padding: 5px 0;
}

.animal-img img {
	width: 100%;
	height: 100%;
}

.animais-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.container-animais {
	width: 100%;
	max-width: 1360px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
	margin-bottom: 10px;
}


/* Pagina Home */

.home-area {
	width: 100%;
	margin: auto;
	margin-top: 10px;
	height: 600px;

}

.home-area .banner-area {
	width: 100%;
	height: 100%;
	max-width: 1320px;
	background-image: url('../assets/images/dog.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
	border-radius: 30px;
	display: flex;
	align-items: center;
}


.banner-info {
	width: 460px;
	height: 400px;
	margin-left: 20px;
	font-size: 25px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #191919c6;
	border-radius: 7px;
	box-shadow: 0px 0px 10px #ff0056;
	letter-spacing: 2px;
	padding: 0px 5px;
}

.banner-info .h3 {
	font-size: 25px;
	padding: 10px 0px;
}

.btn-size {
	width: 200px;
	font-size: 22px;
	margin-top: 20px;
	line-height: 22px;
}


.home-info {
	width: 100%;
	max-width: 1320px;
	margin: auto;
	height: 200px;
}

.home-info .h3 {
	padding: 5px 0;
}

.home-info-desc {
	padding: 0 20px;
	color: #191919;
	font-size: 18px;
	text-align: center;
}


.banner-two {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(34, 8, 161, 0.9), rgba(7, 14, 210, 0.3)), url('../assets/images/cat.jpg');
	background-size: cover;
	background-position: center;
}

.banner-two-info {
	width: 100%;
	height: 100%;
	max-width: 1320px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.banner-two-info .h5,
.banner-two-info .h3 {
	color: #fff;
	padding: 5px 0;
}

.banner-ong-area {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.ong {
	width: 320px;
	height: auto;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
	border-radius: 7px;
}

.ong .h4 {
	padding: 5px 0;
}

.ong .ong-img {
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ong .ong-img img {
	width: 90%;
	height: 90%;
}









/*Home Video */

.home-video {
	width: 100%;
	height: 450px;
	max-width: 1320px;
	margin: auto;
	display: flex;
	margin-top: 20px;
}

.video-info {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 20px;
}

.video-info .h3 {
	padding: 5px 0;
}

.video-home {
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-home video {
	width: 100%;
	height: 100%;
}








/* CAD ONG*/

.container-cad-od{
	width: 100%;
	max-width: 1320px;
	margin: auto;
}

.form-cad-ong {
	width: 100%;
	max-width: 1240px;
	height: auto;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

.form-cad-ong form {
	width: 600px;
	height: auto;
	padding: 10px 10px;
	margin-top: 20px;
	background-color: rgba(7, 14, 210, 0.3);
	border-radius: 10px;
}












/*Contact */

.container-contact {
	width: 100%;
	max-width: 1320px;
	padding: 30px 0;
	margin: 20px auto;
	background: linear-gradient(#191919, #ff0056);
	display: flex;
	flex-direction: column;
}


.contact-area {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


.contactLeft,
.contactRight {
	flex: 1;
	height: auto;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.contactLeft .h5 {
	padding: 5px 0;
	font-size: 25px;
}

.contactLeft p {
	padding: 5px 10px;
	color: #fff;
	text-align: center;
}


.msg-icon {
	width: 300px;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
	padding: 5px;
	background: linear-gradient(#ff0056, #191919);
}

.msg-icon img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.msg-icon span {
	color: #fff;
	letter-spacing: 1px;
	font-size: 14px;
}


.form-contact {
	width: 100%;
	height: auto;
	padding: 10px 0;
	background-color: linear-gradient(blue, gray);
}


.input-box {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.input-box input {
	height: 100%;
	width: calc(100% - 20px);
	padding-left: 10px;
	font-size: 16px;
	border: 0;
	outline: none;
}


.area-text {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.area-text textarea {
	width: calc(100% - 20px);
	height: 80%;
	resize: none;
	padding-left: 10px;
	padding-top: 10px;
	border: 0;
	outline: none;
}


.chekbox-menssage {
	width: calc(100% - 20px);
	height: 30px;
	margin: auto;
	margin-bottom: 10px;
}


.chekbox-menssage span {
	color: #fff;
}









/*Menu mobile */
.menu-mobile {
	width: 40px;
	height: 40px;
	display: none;
}


.menu-mobile-rigth{
	display: none;
}











/* Footer */


footer {
	background-color: #191919;
	margin-top: 20px;
	display: flex;
	height:auto ;
	padding: 40px 0;
}

.footer {
	width: auto;
	flex: 1;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 70px;
}

.desc-footer {
	width: 400px;
	color: #fff;
	margin-top: 10px;
}


.ong-parc{
	flex: 1;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #777;
}


/*CARD FOOTER */

.card-footer{
	width: 100px;
	height: 100px;
	margin: 20px;
}

.card-f-img{
	width: 100%;
	height: 100%;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.card-f-img img{
	width: 95%;
	height: 95%;
}



.grid-footer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



.clone-footer{
	display: none;
}













/* Cadastros */

.cad-container,
.area-cad {
	width: 100%;
	max-width: 1320px;
	margin: auto;
	height: auto;

}

.cad-container {
	display: flex;
	justify-content: center;
	height: 210px;
	background-color: #191919;
	color: #fff;

}


.area-cad {
	background: linear-gradient(#191919, #ff0056);

	display: flex;
	justify-content: center;
	padding: 30px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.singIn,
.singUp {
	height: 350px;
	background-color: #fff;
	width: 450px;
	margin-right: 10px;
	margin-top: 10px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 10px;
}



.singIn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.singIn form {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 20px;
}

.input-size {
	width: 100%;
	height: 40px;
}

.input-size input {
	height: 100%;
	width: 100%;
	padding-left: 10px;
}






.singUp {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cad-option {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.option-cad {
	height: 50px;
	width: 320px;
	background: linear-gradient(#191919, #ff0056);
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: all ease-in .2s;
}

.option-cad a {
	text-decoration: none;
	display: block;
	font-size: 18px;
	color: #fff;
}

.option-cad:hover {
	background-color: #191919;
}


.title-cad {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}



/*MODAL PARA DOAÇÕES */

.modal-cad-doacao{
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	transition: all ease .2s;
}


.modal-area-doacao{
	width: 400px;
	height: auto;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.area-doacao form{
	margin-top: 10px;
	width: 350px;
	height: auto;
	padding: 10px 0;
	background-color: #ff0055a9;
	border-radius: 10px;
}

.close-modal-doacao{
	width: 100%;
	height: 40px;
	background-color: #191919;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.close-x{
	width: 30px;
	height: 30px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.select-ong{
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.select-ong select{
	width: calc(100% - 20px);
	height: 90%;
}


.desc-doacao{
	width: 100%;
	height: auto;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.desc-doacao textarea{
	resize: none;
	width: calc(100% - 20px);
	height: 90%;
	color: #000;
	border: 0;
	outline: 0;
	padding: 10px 5px;
}

.desc-doacao textarea[placeholder]{
	color: #191919;
}

.area-button-doacao{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.area-button-doacao input{
	margin-right: 10px;
	width: 100px;
}

/*Ver doações */

.container-d-recebidas,
.tabela,
.filter-date{
	width: 100%;
	max-width: 1320px;
	margin: 10px auto;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	
}

.container-d-recebidas{
	
	background-color: #ff0056;
}

.container-d-recebidas h2{
	padding: 5px 0;
	color: #fff;
}






/* QUADRADO DE DOAÇÃO */

.quadrado{
	width: 320px;
	height: auto;
	padding: 10px 0;
	margin: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 7px;
	background-color: #ff0056;
}

.area-quadrado{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.quadrado-title{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}



.ong-select{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	color: #fff;
}



.quadrado-desc{
	width: 100%;
	display: flex;
	justify-self: center;
	align-items: center;
	border-bottom: 1px solid #191919;
	border-top: 1px solid #191919;
	padding: 10px;
	color: #fff;
}


.quadrado-desc p{
	text-align: center;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}



.acaoes-button{
	width: 100%;
	height: auto;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*Comprovante grid */

.comprovante-grid{
	width: 100%;
	max-width: 1320px;
	height: auto;
	padding: 10px 0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* Imprimir */

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 0.5cm;
		visibility: hidden;
    }
	
	.container-header,
	.acaoes-button,
	.footer{
		display: none;
	}

	.quadrado{
		width: calc(100% - 20px);
		margin: auto;
		color: #000;
		visibility: visible;
	}
	.quadrado-title,
	.quadrado-desc,
	.ong-select
	{
		color: #000;
		border: none;
	}

	footer{
		border: 0;
	}
	
}








/* Responsividade */


@media only screen and (max-device-width: 470px) and (min-device-width: 350px) {

	header {
		width: 100vw;
	}

	.logo {
		width: 140px;
		margin-left: 20px;
	}

	.logo a,
	.logo a span {
		font-size: 14px;
	}

	.menu {
		display: none;
	}

	/*menu mobile*/

	.menu-mobile {
		display: flex;
		position: fixed;
		top: 1.5rem;
		right: 1.5rem;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
		z-index: 99;
		transition: all ease-in 0.5s;
	}

	.menu-margin{
		margin-right: 150px;
	}

	.menu-mobile .row{
		height: 4px;
		width: 100%;
		background-color: #FFF;
		z-index: 1000;
		box-shadow: 0px 0px 3px #ff0056;
	}

	.menu-mobile-rigth{
		position: fixed;
		width: 0px;
		min-height: 100vh;
		background: #191919;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: all ease-in 0.5s;
	}

	.abriMenu {
		width: 250px;
	}

	.menu-mobile-rigth nav ul{
		display: block;
	}

	.menu-mobile-rigth nav ul li{
		list-style: none;
		margin-bottom: 10px;
	}

	.menu-mobile-rigth nav ul li a{
		width: 100%;
		display: block;
		font-size: 20px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		padding: 3px 30px;
		background-color: #ff0056;
		border-radius: 6px;
	}

	.menu-mobile-rigth nav ul li .active{
		background-color: #0a40be;
	}

	/* Banner  */

	.home-area {
		height: auto;
	}

	.home-area .banner-area {
		background-position: right;
		padding: 10px 0;
		border-radius: 0;
	}

	.banner-info {
		margin-right: 20px;
	}

	.home-info {
		margin-bottom: 50px;
		height: auto;
	}

	.home-info-desc {
		text-align: justify;
	}


	/* Ongs */
	.banner-two {
		margin-bottom: 20px;
	}

	.banner-ong-area {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 10px;
	}

	.banner-two-info .h5,
	.banner-two-info .h3 {
		font-size: 14px;
		text-align: center;
		margin-top: 10px;
	}

	.ong {
		width: 315px;
	}

	.ong .ong-img {
		width: 90px;
		height: 90px;
	}

	/*Video */

	.home-video {
		flex-direction: column;
		height: auto;
		margin: 30px 0;
	}

	.video-info {
		margin-bottom: 20px;
	}

	.video-home video{
		width: calc(100% - 10px);
	} 


	/* Animais */

	.animais-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.animais-card {
		margin-bottom: 20px;
	}

	.animal-img {
		width: 215px;
		height: 215px;
	}


	/* SIGNIN/ SINGUP */

	.area-cad {
		flex-direction: column;
		padding: 10px 20px;
	}



	.singIn,
	.singUp {
		width: 100%;
	}

	/*Contato */
	.contact-area {
		flex-direction: column;
	}

	.contactLeft,
	.contactRight {
		width: 100%;
	}

	/*Forms cad ong e doador */
	.container-cad-od{
		width: calc(100% - 10px);
	}

	.form-cad-ong form{
		width: calc(100% - 5px);
	}


	/*Comprovantes */

	.comprovante-grid{
		width: calc(100% - 10px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/*Modal para cadastro de doação */
	.modal-area-doacao{
		width: calc(100% - 20px);
	}


	/*Ver doações */
	.filter-date {
		width: calc(100% - 10px);
		background-color: #191919;
	}

	.filter-date form{
			width: 100%;
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
	}

	.filter-date form input{
		flex: 1;
		margin-right: 20px;
		height: 35px;
		padding: 0 10px;
	}

	.filter-date form button{
		height: 35px;
		width: 80px;
		color: #fff;
		border: 0;
		outline: none;
		border-radius: 4px;
	}

	.tabela{
		width: calc(100% - 10px);
	}

	.container-d-recebidas{
		padding: 0;
		width: calc(100% - 10px);
	}

	/*footer */

	footer{
		flex-direction: column;
	}
	
	.footer{
		padding: 0;
		align-items: center;
	}
	.desc-footer{
		
		width: calc(100% - 5px);
	}
	.desc-footer span{
		text-align: center;
		margin: auto;
	}

	.ong-parc{
		border-left: none;
		border-top: 1px solid #777;
		margin-top: 10px;
	}

	.grid-footer{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: auto;
	}
}
















/*Configurações extras */
.radio-area{
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.r-area{
	margin-right: 10px;
	display: flex;
	padding: 5px 0;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.r-area span{
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

